## Wikimedia Foundation - Outreachy Microtask

This notebook was created as a microtask for the [Gnome Outreachy internship program](https://wiki.gnome.org/Outreachy).


The Wikipedia dataset can be downloaded [here](https://lists.wikimedia.org/pipermail/wiki-research-l/2016-April/005129.html).

Please have at least 2 GB of free RAM to run this notebook.

#### Import pandas library

In [1]:
import pandas as pd

#### Create DataFrame

In [2]:
#Note: you may need to change to an absolute path if the dataset is not in the same folder
enwiki_DF = pd.read_csv("enwiki_20160204_headings.tsv", header=0, sep='\t', error_bad_lines=False)

Skipping line 23763217: expected 4 fields, saw 6

#### Explore DataFrame

In [3]:
enwiki_DF.head()

,page_id,page_title,heading_level,heading_text
0,2336433,Helena Carroll,2,Death
1,3046517,Articles for deletion/Domotic maid,3,[[Domotic maid]]
2,2336433,Helena Carroll,2,References
3,3046518,2005Oct31 Hydnjo ns.png,2,Summary
4,2336433,Helena Carroll,2,External links

In [4]:
enwiki_DF.count()

page_id          27618485
page_title       27618475
heading_level    27618485
heading_text     27618477
dtype: int64

Count returns different values for columns, so there are null values in `page_title` and `heading_text`.

The articles below are titles "NaN" (not actually null).

In [5]:
enwiki_DF[(enwiki_DF['page_title'].isnull() == True)]

         page_id page_title  heading_level                 heading_text
7675588    49244        NaN              2              Floating point
7675591    49244        NaN              3   Operations generating NaN
7675599    49244        NaN              3                   Quiet NaN
7675603    49244        NaN              3               Signaling NaN
7675605    49244        NaN              2         Function definition
7675612    49244        NaN              2                 Integer NaN
7675633    49244        NaN              2                     Display
7675636    49244        NaN              2                    Encoding
7675641    49244        NaN              2                  References
7675646    49244        NaN              2              External links

In [6]:
enwiki_DF[(enwiki_DF['heading_text'].isnull() == True)]

,page_id,page_title,heading_level,heading_text
1515667,2679835,Cthulhu Mythos reference codes and bibliography,4,NaN
5227156,11962867,Glossary of baseball (N),3,NaN
5330301,8717998,MG N-type,2,NaN
22533740,45286225,Chembox/testcases6,4,NaN
24065464,964702,Mazda C engine,2,NaN
24547466,1051265,Mazda N platform,2,NaN
26257538,1657544,List of acronyms: N,2,NaN
27603282,49265090,List of television programs: N,3,NaN

In [7]:
enwiki_DF.dtypes

page_id           int64
page_title       object
heading_level     int64
heading_text     object
dtype: object

In [8]:
len(enwiki_DF['page_title'].unique())

6357824

In [9]:
len(enwiki_DF['page_id'].unique())

6364745

In April 2016, Wikipedia had ~5.1 million articles, so out of the 6.3 million page_ids, about 1.2 million of the page_ids must be referring to non-articles (other namespaces).

#### Generate list of 100 most frequent section titles

In [10]:
#commented out this line of code to reduce size of notebook

#enwiki_DF.groupby('heading_text').size()

That doesn't work.

Instead, create a new column to remove leading and trailing whitespace from `heading_text`

In [11]:
enwiki_DF['heading_text_noWS'] = pd.core.strings.str_strip(enwiki_DF['heading_text'])

In [12]:
enwiki_DF.head()

,page_id,page_title,heading_level,heading_text,heading_text_noWS
0,2336433,Helena Carroll,2,Death,Death
1,3046517,Articles for deletion/Domotic maid,3,[[Domotic maid]],[[Domotic maid]]
2,2336433,Helena Carroll,2,References,References
3,3046518,2005Oct31 Hydnjo ns.png,2,Summary,Summary
4,2336433,Helena Carroll,2,External links,External links

In [13]:
section_titles = enwiki_DF.groupby('heading_text_noWS').size().sort_values(ascending=False)

In [14]:
section_titles[:5]

heading_text_noWS
References        3933510
External links    2249554
See also          1114379
Summary            732295
Licensing          695887
dtype: int64

In [15]:
mostFrequentTitles_DF = pd.DataFrame({'section_title':section_titles.index, 'frequency':section_titles.values})

In [17]:
mostFrequentTitles_DF.head(100)

    frequency                                      section_title
0     3933510                                         References
1     2249554                                     External links
2     1114379                                           See also
3      732295                                            Summary
4      695887                                          Licensing
5      509498                                            History
6      276974                                              Notes
7      162768                                             Career
8      144400                                          Biography
9      141217                                      Track listing
10     137631                                    Further reading
11     137035                                            Sources
12     111723                                       Bibliography
13     105465                                         Licensing:
14     103177                                          Geography
15     102048                                               Cast
16     101171                                         Early life
17      96112                                              Links
18      95009                                              Users
19      90384                                         Background
20      89379                                               Plot
21      89003                                      Personal life
22      80724                                          Reception
23      78673                                        Description
24      76854                                        Discography
25      76182                                       Demographics
26      75327                                             Awards
27      72011                                          Personnel
28      69550                                           Assessed
29      67931                                          Additions
30      61171                                            Results
31      60067                                          Education
32      54906                                         Reassessed
33      52637                                        Filmography
34      48354                                               Life
35      48223                                            Honours
36      45873                                         Production
37      45286                                              Works
38      42110                                            Gallery
39      38216                                           Overview
40      37731                                            Singles
41      36731                                         Discussion
42      36433                                          Footnotes
43      33370                                              Death
44      31548                                             Charts
45      31409                                       Distribution
46      29230                                         Population
47      28422                                       Publications
48      27651                                             Family
49      27532                                             Legacy
50      26709                                              Entry
51      26542                                 Selected additions
52      26297                                              Final
53      26037                                             Events
54      25631                                              Music
55      25329                                            Species
56      25034                                              Usage
57      25006                                             Albums
58      24846                                              Books
59      24603                                         Television
60      24093                                        Club career
61      24084                                             Source
62      23870                                            Economy
63      23587                                        Early years
64      23384                                            Removed
65      23123                           Early life and education
66      22888                                 Critical reception
67      22465                               International career
68      22446                                           Schedule
69      22347                                           Location
70      21785                                Professional career
71      21327                               Notes and references
72      21068  <span style="font-size:150%">Clerk, CheckUser,...
73      21059  <span style="font-size:150%">Comments by other...
74      20745                                  Career statistics
75      20677                                     Notable people
76      20606                                           Synopsis
77      20173                                  Chart performance
78      19891                                              Other
79      19545                                          Etymology
80      19536                                     Playing career
81      18636                                            Climate
82      18441                                        Development
83      18001                                           Politics
84      17915                                   Political career
85      17830                                             Deaths
86      17817                                     Transportation
87      17434                                 Fair use rationale
88      17309                                             People
89      17117                                          Aftermath
90      17002                                    Life and career
91      16894                                               Film
92      16354                                             Births
93      16343                                            Release
94      16318                                       Early career
95      16254                                         Soundtrack
96      16223                                        Music video
97      16211                                            Members
98      15938                                               Club
99      15923                                     Regular season

In [16]:
#only run this cell if the dataframe did not display 100 rows
pd.options.display.max_rows = 100

### Bonus Task

Generate the list of the 100 section titles that are used in the largest number of articles, each with the percentage of articles that contain such a section.

Assume page titles which contain "/" or "." are not articles and exclude them from analysis.

In [18]:
enwiki_articles_DF = enwiki_DF.copy()

In [19]:
enwiki_articles_DF.head()

,page_id,page_title,heading_level,heading_text,heading_text_noWS
0,2336433,Helena Carroll,2,Death,Death
1,3046517,Articles for deletion/Domotic maid,3,[[Domotic maid]],[[Domotic maid]]
2,2336433,Helena Carroll,2,References,References
3,3046518,2005Oct31 Hydnjo ns.png,2,Summary,Summary
4,2336433,Helena Carroll,2,External links,External links

In [20]:
enwiki_articles_DF = enwiki_articles_DF.drop('heading_text', 1)

In [21]:
enwiki_articles_DF.head()

,page_id,page_title,heading_level,heading_text_noWS
0,2336433,Helena Carroll,2,Death
1,3046517,Articles for deletion/Domotic maid,3,[[Domotic maid]]
2,2336433,Helena Carroll,2,References
3,3046518,2005Oct31 Hydnjo ns.png,2,Summary
4,2336433,Helena Carroll,2,External links

In [22]:
#maybe change this to only drop NaNs from page_title

enwiki_articles_DF.dropna(inplace=True)

In [23]:
enWikiArticlesOnly_DF = enwiki_articles_DF[~enwiki_articles_DF.page_title.str.contains("\.|\/")]

In [24]:
enWikiArticlesOnly_DF.count()

page_id              21937694
page_title           21937694
heading_level        21937694
heading_text_noWS    21937694
dtype: int64

In [25]:
len(enWikiArticlesOnly_DF['page_id'].unique())

4631002

In [26]:
len(enWikiArticlesOnly_DF['page_title'].unique())

4624341

Only 4.6 million unique page_ids left, so I'm losing 400-500K articles

In [27]:
#commented out this line of code to reduce size of notebook

#enwiki_articles_DF[~enwiki_articles_DF.page_title.str.contains("\.|\/")]

In [28]:
enWikiArticlesOnly_DF.head()

   page_id      page_title  heading_level heading_text_noWS
0  2336433  Helena Carroll              2             Death
2  2336433  Helena Carroll              2        References
4  2336433  Helena Carroll              2    External links
5  2336437  Mario Sammarco              2         Biography
6  2336437  Mario Sammarco              2        Recordings

In [29]:
header_freq = enWikiArticlesOnly_DF.groupby('heading_text_noWS').size().sort_values(ascending=False)

In [30]:
header_freq[:10]

heading_text_noWS
References         3792066
External links     2168509
See also           1060642
History             491924
Notes               263258
Career              152605
Track listing       135144
Further reading     132480
Biography           130716
Bibliography        106534
dtype: int64

In [31]:
header_freq_percent_DF = pd.DataFrame({'header_title':header_freq.index, 'header_frequency':header_freq.values})

In [32]:
header_freq_percent_DF.head()

   header_frequency    header_title
0           3792066      References
1           2168509  External links
2           1060642        See also
3            491924         History
4            263258           Notes

In [33]:
header_freq_percent_DF['header_percent'] = (header_freq_percent_DF['header_frequency']/4624341)*100

In [34]:
header_freq_percent_DF.head(100)

    header_frequency              header_title  header_percent
0            3792066                References       82.002300
1            2168509            External links       46.893363
2            1060642                  See also       22.936068
3             491924                   History       10.637710
4             263258                     Notes        5.692876
5             152605                    Career        3.300038
6             135144             Track listing        2.922449
7             132480           Further reading        2.864841
8             130716                 Biography        2.826695
9             106534              Bibliography        2.303766
10            102130                 Geography        2.208531
11            100152                      Cast        2.165757
12             93913                   Sources        2.030841
13             93566                Early life        2.023337
14             87526                      Plot        1.892724
15             84240                Background        1.821665
16             83965             Personal life        1.815718
17             78534                 Reception        1.698274
18             75219              Demographics        1.626589
19             75189               Discography        1.625940
20             74200               Description        1.604553
21             70968                    Awards        1.534662
22             69402                 Personnel        1.500798
23             57946                   Results        1.253065
24             55912                 Education        1.209080
25             51004               Filmography        1.102946
26             45485                      Life        0.983600
27             44881                   Honours        0.970538
28             44628                Production        0.965067
29             42711                     Works        0.923613
30             41026                   Gallery        0.887175
31             36871                   Singles        0.797324
32             36359                  Overview        0.786253
33             34791                 Footnotes        0.752345
34             31317              Distribution        0.677221
35             30425                    Charts        0.657932
36             30265                     Death        0.654472
37             29181                Population        0.631030
38             26104                    Family        0.564491
39             25960                     Final        0.561377
40             25718              Publications        0.556144
41             25500                    Legacy        0.551430
42             25306                    Events        0.547235
43             25282                   Species        0.546716
44             25007                     Music        0.540769
45             24512                    Albums        0.530065
46             24082                Television        0.520766
47             24065               Club career        0.520398
48             23698                   Economy        0.512462
49             22421      International career        0.484847
50             22405                     Books        0.484501
51             22298        Critical reception        0.482188
52             22134                  Schedule        0.478641
53             22020               Early years        0.476176
54             21861                  Location        0.472738
55             20965       Professional career        0.453362
56             20645         Career statistics        0.446442
57             20524            Notable people        0.443825
58             20511      Notes and references        0.443544
59             20195                  Synopsis        0.436711
60             20070  Early life and education        0.434008
61             19699         Chart performance        0.425985
62             19474                 Etymology        0.421119
63             19311            Playing career        0.417595
64             18539                   Climate        0.400900
65             18538                     Other        0.400879
66             17688               Development        0.382498
67             17543            Transportation        0.379362
68             17333                  Politics        0.374821
69             17016                    Deaths        0.367966
70             16899                    People        0.365436
71             16582                 Aftermath        0.358581
72             16538                      Film        0.357629
73             15993                Soundtrack        0.345844
74             15945           Life and career        0.344806
75             15935                   Release        0.344590
76             15852               Music video        0.342795
77             15824                 Transport        0.342189
78             15816          Political career        0.342016
79             15638                   Members        0.338167
80             15570                      Club        0.336697
81             15557                    Births        0.336416
82             15441                     Seeds        0.333907
83             15426              Early career        0.333583
84             15280            Regular season        0.330425
85             14789              Plot summary        0.319808
86             14674                Characters        0.317321
87             14652    Awards and nominations        0.316845
88             14437                  Gameplay        0.312196
89             14253                Literature        0.308217
90             14084        In popular culture        0.304562
91             13987                 Citations        0.302465
92             13893      Selected filmography        0.300432
93             13633                  Episodes        0.294810
94             13540                    Sports        0.292798
95             13523                    Places        0.292431
96             13464                      Draw        0.291155
97             12829                Statistics        0.277423
98             12629            Notable alumni        0.273098
99             12627                    Roster        0.273055